$background: radial-gradient(circle,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%);

$principal-dark: #202234;
$principal-color: rgba(63, 94, 251, 1);
$principal-color-opacity: rgba(63, 94, 251, 0.6);
$light-color: #ced7e4;
$background_new: #f7f7f7;
$principal-middle: #ec9bc6;
$principal-light: #f1f1ec;
$principal-letters: #413b42;
$headerFooterBg: rgba(63, 198, 251, 0.25);

$third-font-family: 'Crafty Girls',
    cursive;
$secondary-font-family: 'Montserrat',
    sans-serif;
$principal-font-family: 'Roboto',
    sans-serif;