@import '@/assets/styles/_variables.scss'

.footer
    color: $principal-letters
    width: 100%
    margin-top: auto
    position: inherit
    padding-bottom: 20px

    &__copy
        margin-left: 20px
