@import '@/assets/styles/_variables.scss';

.header {
    font-weight: 600;
    position: fixed;
    height: 10vh;
    top: 0;
    width: 100vw;
    background-image: $principal-dark  !important;
    z-index: 100;
    font-size: 5px;

}



.header__link__home {
    font-size: 35px;
    position: relative;
    left: 10px;
    color: #ec9bc6;
    text-decoration: none;
}

.home {
    display: flex;
    justify-content: space-between;
}

.menu__button {
    background-color: $principal-middle  !important;
    border-radius: 15px;
}

.menu__button:hover {
    background-color: $principal-dark  !important;
    color: $principal-light  !important;
}

.header__link {
    background-image: linear-gradient(#EBA3C9, #ecc7db);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin: 0.3rem;
    transition: transform ease 1s;
}

.header__link a {
    color: $principal-letters
}

.dropdown-item:hover {
    border-radius: 15px;
    border: $principal-dark 0.5px solid;
    background-color: $principal-light;
    color: $principal-dark;
    font-size: 18px;
}

.dropdown-item {
    color: $principal-letters;
}

.dropdown-menu.show {
    background-color: transparent;
    border: none;
}