@import '@/assets/styles/_variables.scss';

.header {
    font-weight: 600;
    position: fixed;
    height: 10vh;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 5px;
    background-color: $footerBackground;
}

.icons {
    font-size: 16px;
}

.header__link__home {
    font-size: 35px;
    position: relative;
    left: 10px;
    color: #ec9bc6;
    text-decoration: none;
}

.home {
    display: flex;
    justify-content: space-between;
}

.menu__button {
    border-radius: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: 992px) {
        flex-direction: row !important;
        align-items: center;
        justify-content: flex-end;
    }
}

.header__link {
    background-image: linear-gradient(#EBA3C9, #ecc7db);
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin: 0.3rem;
    width: fit-content;
    transition: transform ease 1s;
}

.header__link a {
    color: $principal-letters
}

.dropdown-item:hover {
    border-radius: 15px;
    border: $principal-dark 0.5px solid;
    background-color: $principal-light;
    color: $principal-dark;
    font-size: 18px;
}

.dropdown-item {
    color: $principal-letters;
}

.dropdown-menu.show {
    background-color: transparent;
    border: none;
}