@import '@/assets/styles/_variables.scss';

// .hero {
//     height: 95vh;
// }
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

.fade-in {
    animation: fade-in 2s cubic-bezier(.39, .575, .565, 1.000) both
}

.hero__btn {
    background-color: $principal-middle;
    border-radius: 15px;
    width: 155px;
    margin-bottom: 20px;
}

.btn-container {
    text-align: center;
    margin: 30px 0 0 0;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 10px 0px 15px;
    height: 100%;
    color: $principal-dark;
    font-size: 14px;

    &__photo {
        margin-bottom: 20px;
    }
}

.hero__content_presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    @media (min-width: 768px) {
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

.hero__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero__title {
    margin: 10px;
}

.hero__subtitle {
    @media(min-width: 768px) {
        font-size: 35px;
    }
}

.hero__name {
    color: $principal-color;
}

.hero__subtitle2 {
    font-size: 20px;
    margin-top: 5px;
}

.hero__info {
    margin-top: 1em;
    text-align: justify;
    padding: 30px;
}

.modal-body {
    display: flex;
    justify-content: space-around;

    a {
        width: 150px;
        height: 40px;
    }

    a:hover {
        color: $principal-color;
        text-decoration: none;
    }
}

@media (min-width: 500) {
    .hero__content {
        padding: 90px 40px 0px 60px;
    }
}