@import '@/assets/styles/_variables.scss';

.hero {
    height: 100vh;
    background: radial-gradient(#E892BF,
            #ffff);

}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 30px 0px 40px;
    height: 100vh;

}

.hero__photo {
    width: 30vw;
    height: 30vh;
    border-radius: 15%;
}

.hero__title {
    margin: 10px;
}

.hero__subtitle {
    font-size: 20px;
}

.hero__subtitle2 {
    font-size: 20px;
    margin-top: 5px;
}

.hero__info {
    margin-top: 1em;
    text-align: justify;
}

@media (min-width: 500) {
    .hero__content {
        padding: 90px 40px 0px 60px;
    }
}