$fontFamilyPrime: 'Montserrat', sans-serif;
$fontFamilySecond: 'Montserrat Alternates', sans-serif;
$primeColor: #7683f3;
$primeColorHero: #d7daf3;

$primeColorAboutMe: #5161f7;
$shadowColor: #273bec;
$titleColors: black;
$fontSizeTitles: 30px;

body {
  background-color: aquamarine;
}
